
/*  

	form.css for dynform module

	cms aquarius 3.x, aquaverde 2011
	
	
	note: "jquery.browser.min.js" is required for best cross-platfrom results.

*/


/* --------------------- DEFAULTS: for fast css config, change this section only */

/* form width & offset */
#form { width: 490px; margin: 20px 0; }

/* title font & offset */
#form div.blockTitle { font-family: inherit; font-size: 18px; line-height: 18px; font-weight: normal; color: #000; margin-bottom: 1em !important; }


/* error colors */
#form .checkerror, #form span.errorVisible { border-color: #f00 !important; }
#form label.checkerror, #form span.errorVisible { color: #f00 !important; }


#form div.formBlock #validateEmail, #form div.formBlock span.errorInvisible { display: none !important; }

